<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>PEGJS for PL0 Based languages</title>
    <link rel="icon" type="image/jpg" href="/images/favicon.jpg" />
    <link rel="stylesheet" href="/css/styles.css" type="text/css" media="screen" charset="utf-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  </head>
  <body class="centered">
	<div id="wrapper">
		<header class="centered">
			<div id="logo">
				<img alt="PRD Parser Logo" src="/images/logo.png">
			</div>
		</header>
		<nav>
		  <ul>
			<li> <a href="/grammar"  title="Grammar" <%=current?("/grammar")%> target="_blank">Grammar</a> </li>
			<li> <a href="/"  title="Home" <%=current?("/")%> target="_blank">Home</a> </li>
			<li> <a href="/tests"  title="Repo" target="_blank">Tests</a> </li>
			<li> <a href="https://github.com/alu0100698411/pegjscalc"  title="Repo" target="_blank">Github Repo</a> </li>
			<li> <a href="http://en.wikipedia.org/wiki/Recursive_descent_parser#Example_parser"   title="Wikipedia" target="_blank">PL0</a> </li>
			<li> <a href="http://pegjs.majda.cz/"  title="PEG.js" target="_blank">PEG.js</a> </li>
			<li> <a href="http://datamapper.org/"  title="DataMapper" target="_blank">DataMapper</a> </li>
			<li> <a href="http://sass-lang.com/"  title="Sass" target="_blank">Sass</a> </li>
			<li> <a href="http://docs.mathjax.org/en/latest/start.html"  title="MathJax" target="_blank">MathJax</a> </li>
			<li> <a href="http://codemirror.net/"  title="CodeMirror" target="_blank">CodeMirror</a> </li>
		  </ul>
		</nav>
		<section>
			<%= yield %>
		</section>
	</div>
  </body>
</html>

